{% extends 'base.html' %}

{% block content %}
    
{% verbatim %}
    <!--<div>
        <form novalidate ng-submit="login(login_form.$valid)" name="login_form">
            <input type="text" name="username" ng-model="username" required> <br/>
            <input type="password" name="password" ng-model="password" required> <br/>
            <input type="checkbox" name="remember_me" ng-model="remember_me">
            <button type="submit">
                Log In
            </button> <br/>
            <button type="button" ng-click="logout()">
                Log Out
            </button>
        </form>
        <div ng-if="!logged">
            You are not logged in
        </div>
        <div ng-if="logged">
            YOU is logged in!
        </div>
        <div>
            <a href="/">Home</a>
            <a href="/bookmarks/">Bookmarks</a>
            <a href="/turtle/">Turtles</a>
        </div>
        <div>
            {{test}}
        </div>
    </div>-->
<!-- Menu Bar -->
<div class="menu-bar navbar navbar-material-lightgrey">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="javascript:void(0)">Flavrs</a>
    </div>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
        <form class="navbar-form navbar-left">
            <div class="form-control-wrapper">
                <input type="text" class="form-control col-lg-8" placeholder="Search"><span class="material-input"></span>
            </div>
        </form>
        <ul class="nav navbar-nav navbar-left">
            <li class="dropdown">
                <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
                    Home
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="javascript:void(0)">Bookmarks</a></li>
                    <li><a href="javascript:void(0)">Events</a></li>
                    <li><a href="javascript:void(0)">Twitter</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
                    Category 
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="javascript:void(0)">Action</a></li>
                    <li><a href="javascript:void(0)">Another action</a></li>
                    <li><a href="javascript:void(0)">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="javascript:void(0)">Separated link</a></li>
                </ul>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <img src="https://avatars0.githubusercontent.com/u/3157312?v=2&s=40" class="profile-image">
                    Dylan <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#"><i class="fa fa-cog"></i> Account</a></li>
                    <li class="divider"></li>
                    <li><a href="#"><i class="fa fa-sign-out"></i> Sign-out</a></li>
                </ul>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
</div>
<!-- Menu Bar : End -->
<!-- Tab Bar -->
<div class="tab-bar material-tabs-cyan">
    <material-tabs selected="selectedIndex" center>
        <material-tab label="ITEM ONE"></material-tab>
        <material-tab label="ITEM TWO"></material-tab>
        <material-tab label="ITEM THREE"></material-tab>
        <material-tab label="ITEM FOUR"></material-tab>
        <material-tab label="ITEM FIVE"></material-tab>
        <material-tab label="ITEM SIX"></material-tab>
        <material-tab label="ITEM SEVEN"></material-tab>
        <material-tab label="ITEM EIGHT"></material-tab>
        <material-tab label="ITEM NINE"></material-tab>
        <material-tab label="ITEM TEN"></material-tab>
    </material-tabs>
    <div class="material-tabs-plus withripple">
        <i class="fa fa-plus"></i>
    </div>
    <div class="clearfix"></div>
    <div id="tab-content" class="animate-switch-container" ng-switch on="selectedIndex">
        <div class="animate-switch tab1 js-masonry" ng-switch-when="0" 
        data-masonry-options='{ "columnWidth": 300, "itemSelector": ".tab-inner-wrapper" }'>
            <div class="tab-inner-wrapper">
                <div class="panel panel-default">
                    <div class="panel-heading">Panel heading</div>
                    <div class="panel-body">
                        Try-hard heirloom umami,
                        McSweeney's Wes Anderson small batch Marfa twee blog 
                        Tonx Portland semiotics disrupt retro. Bicycle rights 
                        Thundercats pork belly, High Life wolf fap chambray 
                        master cleanse cornhole before they sold out polaroid 
                        YOLO trust fund. Gluten-free pug normcore umami put a 
                        bird on it heirloom lomo, typewriter Portland. Crucifix 
                        YOLO farm-to-table Carles, distillery kale chips twee 
                        cornhole Banksy hashtag kitsch lo-fi PBR&B Vice. 
                        You probably haven't heard of them fanny pack mumblecore 
                        banh mi Carles Thundercats skateboard, ugh chillwave 
                        salvia. Roof party pug seitan, cardigan wayfarers 
                        Kickstarter Carles irony brunch tattooed wolf selvage 
                        shabby chic. Sartorial Vice pour-over wolf mumblecore 
                        iPhone.
                    </div>
                </div>
            </div>
            <div class="tab-inner-wrapper">
                <div class="panel panel-default">
                    <div class="panel-heading">Panel heading</div>
                    <div class="panel-body">
                        Panel content
                    </div>
                </div>
            </div>
            <div class="tab-inner-wrapper">
                <div class="panel panel-default">
                    <div class="panel-heading">Panel heading</div>
                    <div class="panel-body">
                        Panel content
                    </div>
                </div>
            </div>
            <div class="tab-inner-wrapper">
                <div class="panel panel-default">
                    <div class="panel-heading">Panel heading</div>
                    <div class="panel-body">
                        Panel content
                    </div>
                </div>
            </div>
        </div>
        <div class="animate-switch tab2" ng-switch-when="1">
            View for Item #2<br/>
            Selection index = 1
        </div>
        <div class="animate-switch tab3" ng-switch-when="2">
            View for Item #3<br/>
            Selection index = 2
        </div>
        <div class="animate-switch tab4" ng-switch-when="3">
            View for Item #4<br/>
            Selection index = 3
        </div>
        <div class="animate-switch tab5" ng-switch-when="4">
            View for Item #5<br/>
            Selection index = 4
        </div>
        <div class="animate-switch tab6" ng-switch-when="5">
            View for Item #6<br/>
            Selection index = 5
        </div>
        <div class="animate-switch tab7" ng-switch-when="6">
            View for Item #7<br/>
            Selection index = 6
        </div>
        <div class="animate-switch tab8" ng-switch-when="7">
            View for Item #8<br/>
            Selection index = 7
        </div>
        <div class="animate-switch tab9" ng-switch-when="8">
            View for Item #9<br/>
            Selection index = 8
        </div>
        <div class="animate-switch tab10" ng-switch-when="9">
            View for Item #10<br/>
            Selection index = 9
        </div>
        <div class="animate-switch tab1" ng-switch-when="10">
            View for Item #9<br/>
            Selection index = 8
        </div>
        <div class="animate-switch tab2" ng-switch-when="11">
            View for Item #10<br/>
            Selection index = 9
        </div>
    </div>
    <!-- Button Bar -->
    <div class="button-bar">
        <section layout="vertical" layout-sm="vertical" layout-align="center center">
            <material-button class="material-button-fab material-btn-red">
                <material-icon icon="fa-plus"></material-icon>
            </material-button>
        
            <material-button class="material-button-fab material-btn-purple">
                <material-icon icon="fa-edit"></material-icon>
            </material-button>
        
            <material-button class="material-button-fab material-btn-orange">
                <material-icon icon="fa-trash"></material-icon>
            </material-button>
        
            <material-button class="material-button-fab material-btn-lightblue">
                <material-icon icon="fa-times"></material-icon>
            </material-button>
        </section>
    </div>
    <!-- Button Bar : End -->
</div>
<!-- Tab Bar : End -->

    
{% endverbatim %}

{% endblock %}