{% extends 'base.html' %}

{% block content %}

{% verbatim %}

<!-- Menu Bar -->
<md-toolbar class="menu-bar" layout="row">
    <div class="md-toolbar-tools">
        <md-button class="menu-bar-toggle" ng-click="toggle_menu();">
            <i class="fa fa-bars"></i>
        </md-button>
        <span class="menu-bar-brand">Flavrs</span>
        <!-- fill up the space between left and right area -->
        <span flex="15"></span>
        <span flex="50">
            <form ng-controller="searchCtrl" class="search" id="search" method="get" action="{{search.action}}">
                <md-autocomplete 
                    class="autocomplete"
                    md-selected-item="search.selected_item"
                    md-search-text="search.input" 
                    md-items="item in search_get_options(search.input)" 
                    md-item-text="display" 
                    placeholder="Search {{search.name}}"
                    ng-model="search.input" 
                    ng-change="search_change(search.input)">
                    <span md-highlight-text="search.input" ng-click="search_onselect(item)">
                      {{item}}
                    </span>
                </md-autocomplete>
                <input type="hidden" name="{{search.param}}" value="{{search.input}}" >
            </form>
        </span>
        <span flex="15"></span>
        <md-button>
            Right Bar Button
        </md-button>
    </div>
</md-toolbar>
<!-- Menu Bar : End -->

<!-- Side Nav -->
<md-sidenav md-component-id="left" class="md-sidenav-left md-whiteframe-z2 tab-bar">
    <md-toolbar class="md-theme-indigo" layout="row">
        <h1 flex="80" class="md-toolbar-tools">Navigation</h1>
        <md-button flex ng-click="toggle_menu();">
            <i class="fa fa-remove"></i>
        </md-button>
    </md-toolbar>
    <md-content>
        <md-list>
            <md-item ng-repeat="tab in tabs">
                <md-item-content>
                    <a href="{{tab.url}}" class="md-tile-content link"
                        ng-if="active_tab.id!=tab.id">
                        {{tab.title}}
                    </a>
                    <div class="md-tile-content selected"
                        ng-if="active_tab.id==tab.id">
                        {{tab.title}}
                    </div>
                </md-item-content>
                <md-divider ng-if="!$last"></md-divider>
            </md-item>
        </md-list>
    </md-content>
</md-sidenav>
<!-- Side Nav : End -->

<!-- Content -->
<div class="content js-masonry" id="tab-content"
    data-masonry-options='{ "columnWidth": 300, "itemSelector": ".tab-inner-wrapper" }'>
    <card ng-repeat="content in tab_content" content="content"></card>
</div>

<!-- Content : End -->

<!-- Buttons -->
<div class="fab">
    <md-fabs md-actions="actions"></md-fabs>
</div>
<!-- Buttons : End -->

<!-- Modal Window -->
<script type="text/ng-template" id="modal.html">
    <div class="{{ modal.class }}">
        <div class="modal-header">
            <h3 class="modal-title">{{ modal.title }}</h3>
        </div>
        <div class="modal-body">
            <div ng-if="modal.body" compile="modal.body">
            
            </div>
            <div class="{{ modal.form.class }}">
                <h3>{{ modal.form.header }}</h3>
                <md-form
                    name="modal_form"
                    method="post" 
                    md-form-fields="form.fields" 
                    md-form-model="form.model"
                ></md-form>
            </div>
        </div>
        <div class="modal-footer ng-cloak">
            <section layout="row" layout-sm="column" layout-align="end center" layout-padding layout-margin>
                <md-button ng-repeat="button in buttons" class="md-raised {{ button.colour }}" 
                    ng-click="broadcast(button.ngclick,modal_form)"
                    ng-disabled="button.disabled" ng-cloak flex>
                    <i ng-show="button.icon" class="fa fa-{{ button.icon }}"></i>
                    {{ button.name }}
                </md-button>
            </section>
        </div>
    </div>
</script>
<!-- Modal Window : End -->

{% endverbatim %}

{% endblock %}