/* Utils */
.title-me{
  text-transform: capitalize
}
/* Body */
body{
    background-color: #eee;
}
/* Navbar */
.menu-bar.navbar{
  margin-bottom:0;
}
/*
Navbar For Lightgrey mode
*/
.navbar.navbar-material-lightgrey .navbar-nav > li > a,
.navbar.navbar-material-lightgrey .navbar-nav > .active > a, 
.navbar.navbar-material-lightgrey .navbar-nav > .active > a:hover, 
.navbar.navbar-material-lightgrey .navbar-nav > .active > a:focus,
.navbar.navbar-material-lightgrey .navbar-brand,
.navbar.navbar-material-lightgrey .navbar-form .form-control-wrapper .form-control,
.navbar.navbar-material-lightgrey .navbar-form .form-control{
    color: #63666a;
}

.navbar.navbar-material-lightgrey .navbar-form ::-webkit-input-placeholder {
  color: #63666a;
}
.navbar.navbar-material-lightgrey .navbar-form :-moz-placeholder {
  color: #63666a;
}
.navbar.navbar-material-lightgrey .navbar-form ::-moz-placeholder {
  color: #63666a;
}
.navbar.navbar-material-lightgrey .navbar-form :-ms-input-placeholder {
  color: #63666a;
}

.navbar.navbar-material-lightgrey .navbar-form .form-control-wrapper .form-control, 
.navbar.navbar-material-lightgrey .navbar-form .form-control{
    border-color: #63666a;
}

.navbar.navbar-material-lightgrey .navbar-nav > li > a:hover,
.navbar.navbar-material-lightgrey .navbar-nav > li > a:focus,
.navbar.navbar-material-lightgrey .navbar-nav > .open > a,
.navbar.navbar-material-lightgrey .navbar-nav > .open > a:focus,
.navbar.navbar-material-lightgrey .navbar-brand:hover,
.navbar.navbar-material-lightgrey .navbar-brand:focus{
    color: #222;
}

.navbar.navbar-material-lightgrey input[type=text]:focus{
    -webkit-box-shadow: inset 0 -2px 0 #63666a;
    box-shadow: inset 0 -2px 0 #63666a;
}

.navbar.navbar-material-lightgrey .form-control:focus{
    border-color: #66afe9;
}

/* Navbar profile image */
.navbar .profile-image {
    border-radius: 6px;
    width: 23px;
    margin-right: 10px;
}

/* Tabs */
material-tabs{
  width: 95%;
  float:left;
}
.material-tabs-plus{
  float: left;
  font-size: 20px;
  color: white;
  background: #4285F4;
  width: 5%;
  height: 48px;
  padding-top: 8px;
  cursor: pointer;
  text-align: center;
}

.material-tabs-red .tabs-header,
.material-tabs-red .material-tabs-plus{
  background-color: #f44336;
}
.material-tabs-pink .tabs-header,
.material-tabs-pink .material-tabs-plus{
  background-color: #e91e63;
}
.material-tabs-purple .tabs-header,
.material-tabs-purple .material-tabs-plus{
  background-color: #9c27b0;
}
.material-tabs-deeppurple .tabs-header,
.material-tabs-deeppurple .material-tabs-plus{
  background-color: #673ab7;
}
.material-tabs-indigo .tabs-header,
.material-tabs-indigo .material-tabs-plus{
  background-color: #3f51b5;
}
.material-tabs-lightblue .tabs-header,
.material-tabs-lightblue .material-tabs-plus{
  background-color: #03a9f4;
}
.material-tabs-cyan .tabs-header,
.material-tabs-cyan .material-tabs-plus{
  background-color: #00bcd4;
}
.material-tabs-teal .tabs-header,
.material-tabs-teal .material-tabs-plus{
  background-color: #009688;
}
.material-tabs-lightgreen .tabs-header,
.material-tabs-lightgreen .material-tabs-plus{
  background-color: #8bc34a;
}
.material-tabs-lime .tabs-header,
.material-tabs-lime .material-tabs-plus{
  background-color: #cddc39;
}
.material-tabs-lightyellow .tabs-header,
.material-tabs-lightyellow .material-tabs-plus{
  background-color: #ffeb3b;
}
.material-tabs-orange .tabs-header,
.material-tabs-orange .material-tabs-plus{
  background-color: #ff9800;
}
.material-tabs-deeporange .tabs-header,
.material-tabs-deeporange .material-tabs-plus{
  background-color: #ff5722;
}
.material-tabs-grey .tabs-header,
.material-tabs-grey .material-tabs-plus{
  background-color: #9e9e9e;
}
.material-tabs-bluegrey .tabs-header,
.material-tabs-bluegrey .material-tabs-plus{
  background-color: #607d8b;
}
.material-tabs-brown .tabs-header,
.material-tabs-brown .material-tabs-plus{
  background-color: #795548;
}
.material-tabs-lightgrey .tabs-header,
.material-tabs-lightgrey .material-tabs-plus{
  background-color: #ececec;
}

material-tab{
  color: white;
  opacity: 0.5;
}

material-tab.active{
  opacity: 1;
}