/* Utils */
.title-me{
  text-transform: capitalize
}

.img16x16{
  height: 16px;
}

/* 
  Allow angular.js to be loaded in body, hiding cloaked elements until 
  templates compile.  The !important is important given that there may be 
  other selectors that are more specific or come later and might alter display.  
 */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak, .hide-me {
    display: none !important;
}

/* Angular Bootstrap CSS fix */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
/* Body */
body{
  background-color: #eee;
  font-size: 13px;
  line-height: 1.846;
  color: #666666;
}
.main-controller {
  overflow: auto;
  min-height: 100%;
}
.ready{
  height: 100%;
}
/* Menu Bar */

.menu-bar-brand{
  margin-left: 10px;
  font-size: 20px;
}

/* Search */
.search .autocomplete {
  background: rgba(255,255,255,.15);
}

.search .autocomplete input{
  color: rgb(255,255,255);
}

/*
Navbar For Lightgrey mode
*/
.navbar.navbar-material-lightgrey .navbar-nav > li > a,
.navbar.navbar-material-lightgrey .navbar-nav > .active > a, 
.navbar.navbar-material-lightgrey .navbar-nav > .active > a:hover, 
.navbar.navbar-material-lightgrey .navbar-nav > .active > a:focus,
.navbar.navbar-material-lightgrey .navbar-brand,
.navbar.navbar-material-lightgrey .navbar-form .form-control-wrapper .form-control,
.navbar.navbar-material-lightgrey .navbar-form .form-control{
    color: #63666a;
}

.navbar.navbar-material-lightgrey .navbar-form ::-webkit-input-placeholder {
  color: #63666a;
}
.navbar.navbar-material-lightgrey .navbar-form :-moz-placeholder {
  color: #63666a;
}
.navbar.navbar-material-lightgrey .navbar-form ::-moz-placeholder {
  color: #63666a;
}
.navbar.navbar-material-lightgrey .navbar-form :-ms-input-placeholder {
  color: #63666a;
}

.navbar.navbar-material-lightgrey .navbar-form .form-control-wrapper .form-control, 
.navbar.navbar-material-lightgrey .navbar-form .form-control{
    border-color: #63666a;
}

.navbar.navbar-material-lightgrey .navbar-nav > li > a:hover,
.navbar.navbar-material-lightgrey .navbar-nav > li > a:focus,
.navbar.navbar-material-lightgrey .navbar-nav > .open > a,
.navbar.navbar-material-lightgrey .navbar-nav > .open > a:focus,
.navbar.navbar-material-lightgrey .navbar-brand:hover,
.navbar.navbar-material-lightgrey .navbar-brand:focus{
    color: #222;
}

.navbar.navbar-material-lightgrey input[type=text]:focus{
    -webkit-box-shadow: inset 0 -2px 0 #63666a;
    box-shadow: inset 0 -2px 0 #63666a;
}

.navbar.navbar-material-lightgrey .form-control:focus{
    border-color: #66afe9;
}

/* Navbar profile image */
.navbar .profile-image {
    border-radius: 6px;
    width: 23px;
    margin-right: 10px;
}

/* Tabs */
.tab-bar .md-tile-content.link {
  color: rgba(0, 0, 0, 0.87);
  text-decoration: none;
}

.tab-bar md-item-content .selected,
.tab-bar md-item-content:hover{
  background: rgb(238,238,238);
}

.tab-bar .fa-cog {
  float: right;
  font-size: 20px;
  color: #666;
  height: 55px;
  padding: 16px;
  cursor: pointer;
}

.tab-bar .fa-cog:hover{
  color: black;
  display: inline !important;
}

/* Tab Content */

.tab-inner-wrapper{
  width: 300px;
  float: left;
  padding-left: 20px;
  padding-top: 20px;
}

.tab-inner-wrapper .panel-body{
  min-height: 40px;
  max-height: 450px;
}

.panel,
.panel-body{
  height: 100%;
}

.item { width: 25%; }
.item.w2 { width: 50%; }

/* Generic Modal (with forms) */

md-form .error {
  color: rgb(244,67,54);
  font-weight: bold;
}

md-form md-input-container .description {
  -ms-flex-order: 3;
  -webkit-order: 3;
  order: 3;
}

/* Colour Themes */

.material-tabs-red .tabs-header,
.material-tabs-red .material-tabs-plus,
.material-btn-red{
  background-color: #f44336;
}
.material-tabs-pink .tabs-header,
.material-tabs-pink .material-tabs-plus,
.material-btn-pink{
  background-color: #e91e63;
}
.material-tabs-purple .tabs-header,
.material-tabs-purple .material-tabs-plus,
.material-btn-purple{
  background-color: #9c27b0;
}
.material-tabs-deeppurple .tabs-header,
.material-tabs-deeppurple .material-tabs-plus,
.material-btn-deeppurple{
  background-color: #673ab7;
}
.material-tabs-indigo .tabs-header,
.material-tabs-indigo .material-tabs-plus,
.material-btn-indigo{
  background-color: #3f51b5;
}
.material-tabs-lightblue .tabs-header,
.material-tabs-lightblue .material-tabs-plus,
.material-btn-lightblue{
  background-color: #03a9f4;
}
.material-tabs-cyan .tabs-header,
.material-tabs-cyan .material-tabs-plus,
.material-btn-cyan{
  background-color: #00bcd4;
}
.material-tabs-teal .tabs-header,
.material-tabs-teal .material-tabs-plus,
.material-btn-teal{
  background-color: #009688;
}
.material-tabs-lightgreen .tabs-header,
.material-tabs-lightgreen .material-tabs-plus,
.material-btn-lightgreen{
  background-color: #8bc34a;
}
.material-tabs-lime .tabs-header,
.material-tabs-lime .material-tabs-plus,
.material-btn-lime{
  background-color: #cddc39;
}
.material-tabs-lightyellow .tabs-header,
.material-tabs-lightyellow .material-tabs-plus,
.material-btn-lightyellow{
  background-color: #ffeb3b;
}
.material-tabs-orange .tabs-header,
.material-tabs-orange .material-tabs-plus,
.material-btn-orange{
  background-color: #ff9800;
}
.material-tabs-deeporange .tabs-header,
.material-tabs-deeporange .material-tabs-plus,
.material-btn-deeporange{
  background-color: #ff5722;
}
.material-tabs-grey .tabs-header,
.material-tabs-grey .material-tabs-plus,
.material-btn-grey{
  background-color: #9e9e9e;
}
.material-tabs-bluegrey .tabs-header,
.material-tabs-bluegrey .material-tabs-plus,
.material-btn-bluegrey{
  background-color: #607d8b;
}
.material-tabs-brown .tabs-header,
.material-tabs-brown .material-tabs-plus,
.material-btn-brown{
  background-color: #795548;
}
.material-tabs-lightgrey .tabs-header,
.material-tabs-lightgrey .material-tabs-plus,
.material-btn-lightgrey{
  background-color: #ececec;
}

/* FAB */

.fab {
  position: absolute;
  bottom: 3%;
  right: 2%;
  font-size: 20px;
}

md-fabs .md-fab:not(.md-fab-default){
  margin-top: 10px;
  margin-left: 5px;
  height: 44px;
  width: 44px;
  font-size: 16px;
}

md-fabs .md-fab-default {
  margin-top: 10px;
}

/* Content Wrapper */

.content {
  overflow: hidden;
}

/* Cards */

.tab-inner-wrapper .module{
  text-transform: capitalize;
  bottom: 23px;
  background-color: #09c;
  color: white;
  padding: 10px;
  display: none;
}

.panel-heading-img.img16x16{
  margin-top: -4px;
  padding-right: 5px;
}

.panel-heading-text{
  margin-left: 20px;
}

.panel-heading-secondary{
  font-size: 11px;
  color: #555;
}

.panel-footer{
  position: relative;
  background-color: white;
  border-top: 1px solid #eee;
  min-height: 44px;
}

.panel-footer > div{
  display: inline;
  padding-right: 5px;
  margin-left: 5px;
  border-right: 1px solid #ddd;
}

.panel-footer > div:first-child{
  margin-left: 0;
}

.panel-footer > div:last-child{
  border-right: none;
}

.panel-footer a{
  text-decoration: none;
}

.panel-footer .dropdown-menu{
  top: 90%;
}

a.panel-heading,
a.panel-body{
  width: 100%;
  display: block;
  text-decoration: none;
  color: #212121;
  height: 44px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.panel-type-link .panel:hover{
  box-shadow: 0 0px 6px #08c;
  cursor: pointer;
}

.panel-img.imgx1{
  text-align: center;
  width: 100%;
}

.panel-img.imgx1 img{
  width: 45%;
  margin-left: 6px;
}

.panel-img.imgx2 img{
  width: 45%;
  margin-left: 6px;
}

/* Generic Tab Management Modal */
.tab-management .modal-footer{
  clear:both;
}

.tab-management tbody tr td:hover{
  cursor: pointer;
  color: white;
  background-color: #08c !important;
}

.tab-management .form-group:last-child button{
  display: none;
}

/* ************************************** */
/* ng-sortable                            */
/* ************************************** */

.as-sortable-item, .as-sortable-placeholder {
    
}

.as-sortable-item {
    -ms-touch-action: none;
    touch-action: none;
}

.as-sortable-item-handle {
    cursor: move;
}

.as-sortable-placeholder {
  border: 1px dashed black;
  box-sizing: border-box;
}

.as-sortable-drag {
    position: absolute;
    pointer-events: none;
    z-index: 9999;
    background: #f5f5f5;
    padding: 8px;
}

.as-sortable-hidden {
    display: none !important;
}

/* Command Bar */
body .command-bar {
  position: fixed;
  bottom: 0;
  background: #eee;
  margin-bottom: 0;
}

.command-bar .input {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    z-index: 2;
}

.command-bar .input:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);

}

.command-bar.has-error .input {
  border-color: #a94442;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.command-bar ul {
  visibility: hidden;
}

.command-popover {
  position: absolute;
  bottom: 31.5%;
  left: 10%;
}

.command-bar .popover.top > .arrow {
  left: 10%;
}

/* Tab Modal Form */

.tab-modal-form md-item-content:hover {
  cursor: pointer;
  background-color: #ddd;
}

.tab-modal-form .as-sortable-placeholder {
  height: 55px;
  background-color: #ddd;
  border: none;
}

/* User (top right in nav) */

.user > img {
  border-radius: 50%;
}