{% extends 'base.html' %}
{% load staticfiles %}

{% block css %}
<link rel="stylesheet" href="{% static "base/css/thirdparty/angular-material.css" %}">
<link rel="stylesheet" href="{% static "base/css/thirdparty/font-awesome.css" %}">
<link rel="stylesheet" href="{% static "base/css/paper.bootstrap.custom.css" %}">
<link rel="stylesheet" href="{% static "base/css/style.css" %}" media="all">
{% endblock %}

{% block js %}
<script src="{% static "base/js/controllers.js" %}"></script>
<script src="{% static "bookmarks/js/controllers.js" %}"></script>
<script src="{% static "events/js/controllers.js" %}"></script>
<script src="{% static "twitter/js/controllers.js" %}"></script>
{% endblock %}

{% block content %}

{% verbatim %}
<div ng-controller="mainCtrl" class="main-controller" md-theme="{{ theme }}">
<!-- Menu Bar -->
<md-toolbar class="menu-bar" layout="row">
    <div class="md-toolbar-tools">
        <md-button class="menu-bar-toggle" ng-click="toolbar.sidenav_btn.click()">
            <i class="fa fa-{{toolbar.sidenav_btn.icon}}"></i>
        </md-button>
        <span class="menu-bar-brand">{{ toolbar.brand }}</span>
        <!-- fill up the space between left and right area -->
        <span flex="20"></span>
        <span flex="45">
            <form class="search noautocomplete" id="search" 
                ng-submit="search.submit(search.input)"
                ng-if="search.enabled && !search.autocomplete">
                <input type="text" 
                    class="autocomplete"
                    placeholder="Search {{search.name}}"
                    ng-model="search.input"
                >
                <md-button ng-repeat="button in toolbar.search.buttons" href="#" ng-click="button.click()">
                    <span compile="button.text"></span>
                </md-button>
            </form>
        </span>
        <span flex="20"></span>
        <md-container ng-show="user" class="user">
            <img ng-src="{{user.image}}?s=40">
            <md-button>
                {{ user.first_name }} {{ user.last_name }}
            </md-button>
            <a href="/logout/" ng-click="logout()" title="Sign Out">
                <i class="fa fa-sign-out"></i>
            </a>
        </md-container>
    </div>
</md-toolbar>
<!-- Menu Bar : End -->

<!-- Side Nav Left -->

<md-sidenav md-component-id="left" ng-show="sidenav.left.enabled"
    class="md-sidenav-left md-whiteframe-z2 tab-bar">
    <md-toolbar class="md-theme-indigo" layout="row">
        <h1 class="md-toolbar-tools">{{ sidenav.left.title }}</h1>
        <md-button ng-click="location('sidenav_add')">
            <i class="fa fa-plus"></i>
        </md-button>
        <md-button ng-click="toggle_menu();">
            <i class="fa fa-remove"></i>
        </md-button>
    </md-toolbar>
    <md-content>
        <md-list>
            <md-item ng-repeat="nav in sidenav">
                <md-item-content class="hover">
                    <a href="{{nav.url}}" class="md-tile-content link"
                        ng-if="active_nav_id!=nav.id" 
                        ng-mouseenter="tabs_ui[$index]=true"
                        ng-mouseleave="tabs_ui[$index]=false"
                        flex="85">
                        {{nav.name}}
                    </a>
                    <i 
                        ng-show="tabs_ui[$index]" class="fa fa-cog"
                        ng-if="active_nav_id!=nav.id" flex="15"
                        ng-click="location('sidenav_edit',undefined,{id:nav.id})">
                    </i>
                    <div class="md-tile-content selected"
                        ng-if="active_nav_id==nav.id"
                        ng-mouseenter="tabs_ui[$index]=true"
                        ng-mouseleave="tabs_ui[$index]=false"
                        flex="85">
                        {{nav.name}}
                    </div>
                    <i 
                        ng-show="tabs_ui[$index]" class="fa fa-cog"
                        ng-if="active_nav_id==nav.id" flex="15"
                        ng-click="location('sidenav_edit',undefined,{id:nav.id})">
                    </i>
                </md-item-content>
                <md-divider ng-if="!$last"></md-divider>
            </md-item>
        </md-list>
    </md-content>
</md-sidenav>
<!-- Side Nav Left : End -->

<!-- Side Nav Right -->

<md-sidenav md-component-id="right"
    ng-if="right_menu"
    class="md-sidenav-right md-whiteframe-z2 tab-bar">
    <md-toolbar class="md-theme-indigo" layout="row">
        <h1 flex="60" class="md-toolbar-tools">Hey</h1>
        <md-button flex>
            <i class="fa fa-bars"></i>
        </md-button>
    </md-toolbar>
    <md-content>
        <md-list>
            <md-item ng-repeat="item in queue">
                <md-item-content>
                    <div class="md-tile-content">
                        <div flex="50">
                            <span class="label label-danger">Deleted</span>
                            3 items
                        </div>
                        <md-button href="#" flex>
                            <i class="fa fa-arrow-down"></i>
                        </md-button>
                    </div>
                </md-item-content>
                <md-divider ng-if="!$last"></md-divider>
            </md-item>
        </md-list>
    </md-content>
</md-sidenav>
<!-- Side Nav Right : End -->

<!-- Content -->
<div class="content">
    <div class="actions dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="actionDropDown" data-toggle="dropdown" aria-expanded="true">
            <i class="fa fa-ellipsis-v"></i>
        </button>
        <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="actionDropDown">
            <li role="presentation" ng-repeat="action in actions" 
                ng-hide="action.selected || !valid_action_route(action)">
                <a role="menuitem" tabindex="-1" ng-href="{{get_route(action.route)}}"
                    ng-click="fn(action.fn)">
                    <i ng-if="action.icon" class="fa fa-{{ action.icon }}"></i>
                    {{ action.name }}
                </a>
            </li>
        </ul>
    </div>
    <div compile="pre_content" class="pre-content"></div>
    <div id="tab-content" ng-view>
        
    </div>
</div>

<!-- Content : End -->

<!-- Buttons -->
<div class="fab">
    <md-fabs md-actions="fabs"></md-fabs>
</div>
<!-- Buttons : End -->

<!-- Modal Window -->
<script type="text/ng-template" id="modal.html">
    <div class="{{ modal.class }}">
        <div class="modal-header">
            <h3 class="modal-title">{{ modal.title }}</h3>
        </div>
        <div class="modal-body">
            <div ng-if="modal.body" compile="modal.body">
            
            </div>
            <div class="{{ modal.form.class }}">
                <h3 compile="modal.form.header"></h3>
                <md-form
                    name="modal_form"
                    method="post" 
                    md-form-fields="form.fields" 
                    md-form-model="form.model"
                    md-form-errors="form.errors"
                ></md-form>
            </div>
        </div>
        <div class="modal-footer ng-cloak">
            <section layout="row" layout-sm="column" layout-align="end center" layout-padding layout-margin>
                <md-button ng-repeat="action in actions" class="md-default-theme md-raised {{ action.colour }}" 
                    ng-click="action.click(this.action)"
                    ng-disabled="action.disabled" ng-cloak flex>
                    <i ng-show="action.icon" class="fa fa-{{ action.icon }}"></i>
                    {{ action.name }}
                </md-button>
                <md-button class="md-default-theme md-raised" ng-click="close_modal()" ng-cloak flex>
                    Close
                </md-button>
            </section>
        </div>
    </div>
</script>
<!-- Modal Window : End -->
</div>
{% endverbatim %}

{% endblock %}