{% extends 'base.html' %}
{% load staticfiles %}

{% block css %}
<link rel="stylesheet" href="{% static "base/css/thirdparty/angular-material.css" %}">
<link rel="stylesheet" href="{% static "base/css/thirdparty/font-awesome.css" %}">
<link rel="stylesheet" href="{% static "base/css/paper.bootstrap.custom.css" %}">
<link rel="stylesheet" href="{% static "base/css/style.css" %}" media="all">
{% endblock %}

{% block js %}
<script src="{% static "base/js/controllers.js" %}"></script>
<script src="{% static "bookmarks/js/controllers.js" %}"></script>
<script src="{% static "events/js/controllers.js" %}"></script>
<script src="{% static "twitter/js/controllers.js" %}"></script>
{% endblock %}

{% block content %}

{% verbatim %}
<div ng-controller="mainCtrl" class="main-controller">
<!-- Menu Bar -->
<md-toolbar class="menu-bar" layout="row">
    <div class="md-toolbar-tools">
        <md-button class="menu-bar-toggle" ng-click="toggle_menu();">
            <i class="fa fa-bars"></i>
        </md-button>
        <span class="menu-bar-brand">Flavrs</span>
        <!-- fill up the space between left and right area -->
        <span flex="20"></span>
        <span flex="45">
            <form ng-controller="_searchCtrl" class="search" id="search" method="get" action="{{search.action}}">
                <md-autocomplete 
                    class="autocomplete"
                    md-selected-item="search.selected_item"
                    md-search-text="search.input" 
                    md-items="item in search_get_options(search.input)" 
                    md-item-text="display" 
                    placeholder="Search {{search.name}}"
                    ng-model="search.input" 
                    ng-change="search_change(search.input)">
                    <span md-highlight-text="search.input" ng-click="search_onselect(item)">
                      {{item}}
                    </span>
                </md-autocomplete>
                <input type="hidden" name="{{search.param}}" value="{{search.input}}" >
            </form>
        </span>
        <span flex="20"></span>
        <md-container ng-show="user" class="user">
            <img ng-src="{{user.image}}?s=40">
            <md-button>
                {{ user.first_name }} {{ user.last_name }}
            </md-button>
            <a href="/logout/" ng-click="logout()" title="Sign Out">
                <i class="fa fa-sign-out"></i>
            </a>
        </md-container>
    </div>
</md-toolbar>
<!-- Menu Bar : End -->

<!-- Side Nav -->

<md-sidenav md-component-id="left" 
    class="md-sidenav-left md-whiteframe-z2 tab-bar">
    <md-toolbar class="md-theme-indigo" layout="row">
        <h1 flex="60" class="md-toolbar-tools">{{ sidenav_title }}</h1>
        <md-button flex ng-click="location('sidenav_order')">
            <i class="fa fa-bars"></i>
        </md-button>
        <md-button flex ng-click="location('sidenav_add')">
            <i class="fa fa-plus"></i>
        </md-button>
        <md-button flex ng-click="toggle_menu();">
            <i class="fa fa-remove"></i>
        </md-button>
    </md-toolbar>
    <md-content>
        <md-list>
            <md-item ng-repeat="nav in sidenav">
                <md-item-content>
                    <a href="{{nav.url}}" class="md-tile-content link"
                        ng-if="active_nav_id!=nav.id" 
                        ng-mouseenter="tabs_ui[$index]=true"
                        ng-mouseleave="tabs_ui[$index]=false"
                        flex="85">
                        {{nav.name}}
                    </a>
                    <i 
                        ng-show="tabs_ui[$index]" class="fa fa-cog"
                        ng-if="active_nav_id!=nav.id" flex="15"
                        ng-click="location('sidenav_edit',undefined,{id:nav.id})">
                    </i>
                    <div class="md-tile-content selected"
                        ng-if="active_nav_id==nav.id"
                        ng-mouseenter="tabs_ui[$index]=true"
                        ng-mouseleave="tabs_ui[$index]=false"
                        flex="85">
                        {{nav.name}}
                    </div>
                    <i 
                        ng-show="tabs_ui[$index]" class="fa fa-cog"
                        ng-if="active_nav_id==nav.id" flex="15"
                        ng-click="location('sidenav_edit',undefined,{id:nav.id})">
                    </i>
                </md-item-content>
                <md-divider ng-if="!$last"></md-divider>
            </md-item>
        </md-list>
    </md-content>
</md-sidenav>
<!-- Side Nav : End -->

<!-- Content -->
<div class="content">
    <div compile="pre_content" class="pre-content"></div>
    <div id="tab-content">
        
    </div>
</div>

<!-- Content : End -->

<!-- Buttons -->
<div class="fab">
    <md-fabs md-actions="actions"></md-fabs>
</div>
<!-- Buttons : End -->

<!-- Modal Window -->
<script type="text/ng-template" id="modal.html">
    <div class="{{ modal.class }}">
        <div class="modal-header">
            <h3 class="modal-title">{{ modal.title }}</h3>
        </div>
        <div class="modal-body">
            <div ng-if="modal.body" compile="modal.body">
            
            </div>
            <div class="{{ modal.form.class }}">
                <h3 compile="modal.form.header"></h3>
                <md-form
                    name="modal_form"
                    method="post" 
                    md-form-fields="form.fields" 
                    md-form-model="form.model"
                    md-form-errors="form.errors"
                ></md-form>
            </div>
        </div>
        <div class="modal-footer ng-cloak">
            <section layout="row" layout-sm="column" layout-align="end center" layout-padding layout-margin>
                <md-button ng-repeat="action in actions" class="md-default-theme md-raised {{ action.colour }}" 
                    ng-click="action.click(this.action)"
                    ng-disabled="action.disabled" ng-cloak flex>
                    <i ng-show="action.icon" class="fa fa-{{ action.icon }}"></i>
                    {{ action.name }}
                </md-button>
                <md-button class="md-default-theme md-raised" ng-click="close_modal()" ng-cloak flex>
                    Close
                </md-button>
            </section>
        </div>
    </div>
</script>
<!-- Modal Window : End -->
</div>
{% endverbatim %}

{% endblock %}